body {
    background-image: url(./css/Esc4\ \(2\).png);
    background-position: 100%;
    background-size: 90%;
    background-repeat: no-repeat;
}

h1  {
    color: brown;
}

p {
    color: brown;

}


a  {
    color: black;
    display: block;
}