body {
    background-image: url(./css/escNuevohogar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
}

h1 {
    color: brown;
}

p {
    color: brown;
}

a {
    color: black;
}